<div class="container">
    <div class="row">
        <div class="col-md-offset-4">
            <div class="form-group">
            <select class="form-control" ng-model="Customer.selected" ng-options="item.FirstName + ' ' +  item.LastName for item in customerList">
                <option value="" label="Select Customer for New Order"></option>
            </select>
            </div>
            <br />
            <div><h5>New Order For: </h5><H3>{{Customer.selected.FirstName}} {{Customer.selected.LastName}}</H3></div>
            <hr />
        </div>
        </div>
    </div>

    <div class="container">
        <div class="row">

            <table class="table table-striped table-hover cart-table">
                <thead>
                    <tr>
                        <th></th>
                        <th>PRODUCT</th>
                        <th>COLOR</th>
                        <th>SIZE</th>
                        <th>GARMENT PRICE</th>
                        <th># PRINT COLORS</th>
                        <th>PRINT CHARGES</th>
                        <th>QUANTITY</th>
                        <!--<th># OF COLORS</th>-->
                        <th>TOTAL</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <a href="#" class="remove" title="Remove this item" data-toggle="tooltip" data-placement="top"><i class="fa fa-trash"></i></a>
                        </td>
                        <td>
                            <div class="form-group">
                                <select class="form-control" ng-model="ProductStyle.selected" ng-options="item.brandName + ' ' + item.styleName for item in productList">
                                    <option value="" label="Style"></option>
                                </select>
                            </div>
                        </td>
                        <td>
                            <div class="form-group">
                                <select class="form-control" ng-model="ProductColor.display" ng-options="item.colorName for item in productList">
                                    <option value="" label="Color"></option>
                                </select>
                            </div>
                        </td>

                        <td>
                            <div class="form-group">
                                <select class="form-control" ng-model="SizeName.selected" ng-options="item.sizeName for item in productList">
                                    <option value="" label="Size"></option>
                                </select>
                            </div>

                        </td>
                        <td>{{ProductStyle.selected.salePrice}}</td>
                        <td>5 Colors</td>
                        <td>3.60</td>
                        <td>
                            <form class="form-inline">
                                <div class="form-group">
                                    <label class="sr-only" for="exampleInputAmount">Quantity</label>
                                    <div class="input-group">
                                        <span class="input-group-btn">
                                            <button class="btn btn-default" type="button" data-selector="a.btn, button.btn" style="outline: none; cursor: inherit;">-</button>
                                        </span>
                                        <input type="text" class="form-control" id="quantity" placeholder="1">
                                        <span class="input-group-btn">
                                            <button class="btn btn-default" type="button" data-selector="a.btn, button.btn" style="outline: none; cursor: inherit;">+</button>
                                        </span>
                                    </div>
                                </div>
                            </form>
                        </td>
                        <td><strong>({{ProductStyle.selected.salePrice}}</strong></td>
                    </tr>
                    <tr>
                        <td>
                            <a href="#" class="remove" title="Remove this item" data-toggle="tooltip" data-placement="top"><i class="fa fa-trash"></i></a>
                        </td>
                        
                    </tr>
                </tbody>
            </table>

            <hr>

            <div class="row">
                <div class="col-sm-4">
                   
                </div>
                <div class="col-sm-8">
                    <button type="button" class="btn btn-primary pull-right" data-selector="a.btn, button.btn" style="outline: none; cursor: inherit;">Update Cart</button>
                </div>
            </div>

            <hr>

            <div class="row">
                <div class="col-md-5 col-sm-6 col-xs-12">
                   
                    <div class="row">
                        <div class="col-sm-6">
                            
                        </div>
                        <div class="col-sm-6">
                            
                        </div>
                    </div>
                </div>
                <div class="col-md-5 col-md-offset-2 col-sm-6 col-xs-12">
                    <h3>Cart Totals:</h3>
                    <table class="table table-striped table-hover cart-table">
                        <tbody>
                            <tr>
                                <td><strong>Cart Subtotal</strong></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td><strong>Setup Charges</strong></td>
                                <td></td>
                            </tr>
                            <tr class="big-total">
                                <td><strong>Total</strong></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>

