<div class="container">
    <div class="row">
        <div class="col-md-offset-4">
            <!--cutomer dropdown menu-->
            <div class="form-group">
                <select class="form-control" ng-model="Customer.selected" ng-options="item.FirstName + ' ' +  item.LastName for item in customerList">
                    <option value="" label="Select Customer for New Order"></option>
                </select>
            </div>
            <br />
            <!--display selected customer-->
            <hr />
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <!--line item table-->
        <table>
            <!--add line item table header-->
            <thead>
                <tr>
                    <th>product</th>
                    <!--<th>color</th>
                    <th>size</th>-->
                    <th>quanity</th>
                    <th>shirt price</th>
                    <th>how many colors</th>
                    <th>imprint price</th>
                    <th>TOTAL</th>
                </tr>
            </thead>
            <!--add line item table body-->
            <tbody>
                <tr>
                    <td>
                        <div class="form-group">
                            <select class="form-control" ng-model="ProductSelected" ng-options="item.brandName + ' ' + item.styleName for item in productList">
                                <option label="Style"></option>
                            </select>
                        </div>
                    </td>
                    <!--size and color dropdown menus to add later-->
                    <!--<td>
                        <div class="form-group">
                            <select class="form-control">
                                <option value="" label="Color"></option>
                                <option value="" label="Blue"></option>
                                <option value="" label="Black"></option>
                                <option value="" label="White"></option>
                                <option value="" label="Grey"></option>
                            </select>
                        </div>
                    </td>

                    <td>
                        <div class="form-group">
                            <select class="form-control">
                                <option value="" label="Size"></option>
                                <option value="" label="S"></option>
                                <option value="" label="M"></option>
                                <option value="" label="L"></option>
                                <option value="" label="XL"></option>
                                <option value="" label="XXL"></option>
                            </select>
                        </div>
                    </td>-->
                    <td>
                        <input type="text" class="form-control" value="" ng-model="quantity">
                    </td>
                    <td>{{ProductSelected.salePrice}}</td>
                    <td>
                        <div class="form-group">
                            <select class="form-control" ng-model="PrintChargesSelected" ng-options="item.ColorNumber for item in printChargeList">
                                <option label="How Many Colors"></option>
                            </select>
                        </div>
                    </td>
                    <td >
                        {{PrintChargesSelected.NumberPrice}}
                    </td>
                    <td>
                        {{TotalCharges()}}
                    </td>
                </tr>
            </tbody>
        </table>
        <!--add line item btn-->
            <hr>
        <div class="row">
            <div class="col-sm-4">

            </div>
            <div class="col-sm-8">
                <button type="button" class="pull-right" ng-click="createLineItemData()">Add Line Item</button>
            </div>

        </div>
        <hr>
        <!--detailed line item totals-->
        <div><h5>New Order For: </h5><H3>{{Customer.selected.FirstName}} {{Customer.selected.LastName}}</H3></div>
        <table class="table">
            <thead>
                <tr>
                    <th>edit</th>
                    <th>Product Style</th>
                    <th>Unit Price</th>
                    <th># of Imprint Colors</th>
                    <th>Unit Price Imprint</th>
                    <th>Line Total</th>
                    <th>Quantities</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="lineitem in lineItems">
                    <td>
                        <a href="" ng-click="delete(lineitem)" class="remove" title="Remove this item" data-toggle="tooltip" data-placement="top"><i class="fa fa-trash"></i>delete</a> |
                        <a href="" ng-click="edit(lineitem)" class="remove" title="Remove this item" data-toggle="tooltip" data-placement="top"><i class="fa fa-trash"></i>edit</a>
                    </td>
                    <td>{{lineitem.product}}</td>
                    <td>{{lineitem.shirtPrice}}</td>
                    <td>{{lineitem.imprintTotal}}</td>
                    <td>{{lineitem.imprintPrice}}</td>
                    <td>{{lineitem.lineTotal}}</td>
                    <td>{{lineitem.quantity}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<!--<h3>Cart Totals:</h3>
                <table class="table table-striped table-hover cart-table">
                    <tbody>
                        <tr>
                            <td><strong>Cart Subtotal</strong></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td><strong>Setup Charges</strong></td>
                            <td></td>
                        </tr>
                        <tr class="big-total">
                            <td><strong>Total</strong></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>-->
