<div class="container">
    <div class="row">
        <div class="col-md-offset-4">
            <div class="form-group">
            <select class="form-control" ng-model="Customer.selected" ng-options="item.FirstName + ' ' +  item.LastName for item in customerList">
                <option value="" label="Select Customer for New Order"></option>
            </select>
            </div>

        <div class="form-group">
            <select class="form-control" ng-model="ProductStyle.display" ng-options="item.styleName for item in productList">
                <option value="" label="Select Style"></option>
            </select>
        </div>

        <div class="form-group">
            <select class="form-control" ng-model="ProductColor" ng-options="item.colorName for item in productList">
                <option value="" label="Select Color"></option>
            </select>
        </div>


            <br />
            <div>{{Customer.selected.FirstName}} {{Customer.selected.LastName}}</div>
            <div>{{ProductStyle.display.styleName}}</div>


        </div>
        </div>
    </div>

