
<div class="card">
    <div class="header">
        <p class="category">Existing Customers</p>
    </div>
    <div class="content table-responsive table-full-width">
        <table class="table table-hover table-striped">
            <thead>
            <th>UPDATE</th>
            <th>FIRST NAME</th>
            <th>LAST NAME</th>
            <th>EMAIL</th>
           
            </thead>
            <tbody ng-repeat="customer in customers">
                <tr>
                    <td>
                        <a href="" ng-click="delete(customer)" class="remove" title="Remove this item" data-toggle="tooltip" data-placement="top"><i class="fa fa-trash"></i>delete</a> |
                        <a href="" ng-click="edit(customer)" class="remove" title="Remove this item" data-toggle="tooltip" data-placement="top"><i class="fa fa-trash"></i>edit</a>
                    </td>
                    <td>{{customer.FirstName}}</td>
                    <td>{{customer.LastName}}</td>
                    <td>{{customer.Email}}</td>
                </tr>
            </tbody>
        </table>

    </div>
</div>




































































    <!--<div class="container">
        <div class="row">
            <table>
                <thead>
                    <tr>
                        <th></th>
                        <th>NAME</th>
                        <th>EMAIL</th>
                        <th>PHONE</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <a href="#"><i class="fa fa-trash">edit</i></a>
                        </td>
                        <td><a href="#">Lee Hankins</a></td>
                        <td>bryanlhankins@gmail.com</td>
                        <td>6156156156</td>
                       
                        <td><strong></strong></td>
                    </tr>
                </tbody>
            </table>
            <hr>
        </div>
    </div>


