<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Rep Assist Dashboard</h1>
            <hr>
            <div class="col-md-4">
                <h4>NEW CUSTOMER</h4>
                <div>
                    <p>Add a new customer here. If the customer already exists, choose the START NEW ORDER tab.</p>
                </div>
                <input type="button" ng-click="addNewCustomer()" value="New Customer" />
            </div>
            <div class="col-md-4">
                <h4>NEW ORDER</h4>
                <p>Start a new order here. Choose from existing customers. If the customer doesn't exist, you must add a NEW CUSTOMER</p>
                <div>
                    <input type="button" ng-click="addNewOrder()" value="New Order" />
                </div>
            </div>
            <div class="col-md-4">
                <h4>VIEW ORDERS</h4>
                <p class="">View a list of orders. You can also update or delete an order from here.</p>
            </div>
        </div>
    </div>
</div>

