
<!--detailed line item totals-->
<div><h4>{{order.Customer.FirstName}}</h4></div>

<!--<select class="" ng-model="ViewableOrders" ng-options="item.OrderId + item.Customer for item in orderList">
    <option value="" label="View Customers Orders"></option>
</select>-->


<table class="table table-condensed" ng-repeat="item in order.LineItems">
    <thead>
        <tr>
            <th>Prpoduct Style</th>
            <th>Unit Price</th>
            <th># of Print Colors</th>
            <th>Imprint Price</th>
            <th>Line Total</th>
            <th>Quantities</th>
            
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{item.product}}</td>
            <td>{{item.shirtPrice}}</td>
            <td>{{item.imprintTotal}}</td>
            <td>{{item.imprintPrice}}</td>
            <td>{{item.lineTotal}}</td>
            <td>{{item.quantity}}</td>

            <!--<td>{{order.LineItems[0].imprintPrice}}</td>-->
        </tr>
    </tbody>
</table>

<table class="table table-condensed">
    <thead>
        <tr>
            <th>Order Total</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{GetTotal}}</td>
            
        </tr>
    </tbody>
</table>