
        <div class="input-field">
            <div class="col m4">
                <input class="" type="text" id="username" ng-model="username" />
            </div>
            <div class="col m4">
                <input class="" type="password" id="password" ng-model="password" />
            </div>
            <div>
                <input class="btn btn grey darken-4" type="button" value="Sign in" ng-click="login()" />
                <a  href="#!signup" style="color: #000000">Sign up!</a>
            </div>
        </div>

