<div class="container">
    <div class="row">
        <div class="col-md-offset-4">
            <div class="form-group">
                <input class="form-control" value="Create Username" type="text" id="username" ng-model="Email" />
            </div>
            <div class="form-group">
                <input class="form-control" value="Choose Password" type="password" id="password" ng-model="Password" />
            </div>
            <div class="form-group">
                <input class="form-control" value="Confirm Password" type="password" id="password" ng-model="ConfirmPassword" />
            </div>
            <input type="button" value="Sign up" class="btn-default" ng-click="signup()" />
        </div>
    </div>
</div>