
        <div class="col m6 input-field">
            <div class="">
               Create user name <input class="" value="Create Username" type="text" id="username" ng-model="Email" />
            </div>
            <div class="">
                Create a password<input class="" value="Choose Password" type="password" id="password" ng-model="Password" />
            </div>
            <div class="">
               Confirm passowrd <input class="" value="Confirm Password" type="password" id="password" ng-model="ConfirmPassword" />
            </div>
            <input value="Sign up" class="btn" ng-click="signup()" />
        </div>
